[submodule "windows-privesc-check"]
	path = windows-privesc-check
	url = git@github.com:pentestmonkey/windows-privesc-check.git
[submodule "PowerSploit"]
	path = PowerSploit
	url = git@github.com:PowerShellMafia/PowerSploit.git
[submodule "pysecdump"]
	path = pysecdump
	url = git@github.com:pentestmonkey/pysecdump.git
[submodule "windowsEnum"]
	path = windowsEnum
	url = git@github.com:azmatt/windowsEnum.git
[submodule "linux-exploit-suggester"]
	path = linux-exploit-suggester
	url = https://github.com/mzet-/linux-exploit-suggester.git
[submodule "dirsearch"]
	path = dirsearch
	url = https://github.com/maurosoria/dirsearch.git
